@page "/reponse/{Id:int}"
@inject AoService aoService
@using BlazorApp.Components.Model
@using BlazorApp.Components.Service
@using System.Linq
@inject NavigationManager Navigation
@inject UserService userService
@if (reponse != null)
{
  <div class="min-h-screen flex items-center justify-center">
    <div class="w-[400] mx-auto">
      <div class="p-6 border-l-4 border-blue-500 bg-white">
        <div class="flex items-center justify-between gap-8 mb-4">
          <h1 class="text-2xl font-bold">Aperçu des Offres Fournisseurs</h1>

          <Button id="print-button"
            className="inline-flex items-center rounded-md bg-blue-500 px-4 py-2 text-sm font-medium text-white shadow transition-colors hover:bg-blue-600 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-blue-600 disabled:pointer-events-none disabled:opacity-50 dark:bg-gray-50 dark:text-gray-900 dark:hover:bg-gray-50/90 dark:focus-visible:ring-gray-300">
            <PrinterIcon className="mr-2 h-4 w-4" />
            <i class="fa-solid fa-print"></i>Imprimer
          </Button>
        </div>

        <h2 class="text-xl font-semibold mb-2">Résumé de la Proposition du Fournisseur</h2>
        <div class="mb-4">
          <p class="font-medium">Services</p>
        </div>

        <div class="mb-4">
          <p class="font-medium">- Nom et adresse officiels de l'organisme Fournisseur : </p>
          <p class="font-medium">
            Correspondant : @fs.Name . . Courriel :
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=@fs.EmailId"
              class="text-blue-500 hover:underline text-left font-medium">

              @fs.EmailId</a>

          </p>

        </div>
        <div class="mb-4">
          <p class="font-medium">Description de l'offre :</p>
          <p class="font-medium">@reponse.Dettail</p>
        </div>
        <div class="mb-4">
          <p class="font-medium">Caractéristiques principales :</p>
          <p class="font-medium">Date de Saisie : @reponse.DateSaisie.ToString("yyyy-MM-dd")</p>
          <p class="font-medium">Prix Proposé : @reponse.PrixProp $</p>
          <p class="font-medium"></p>
        </div>


      </div>
    </div>
  </div>
}

<script>
  document.getElementById('print-button').addEventListener('click', function ()
  {
    window.print();
  });
</script>


@code {
  [Parameter]
  public int Id { get; set; }
  BlazorApp.Components.Model.Reponse reponse;

  BlazorApp.Components.Model.Fournisseur fs;




  protected override async Task OnInitializedAsync()
  {


    reponse = await aoService.GetReponse(Id);

    fs = await userService.GetFournisseurbyId(reponse.IdFournisseur);
  }

}
