@page "/ao/{Id:int}"
@using System
@inject AoService aoService
@using BlazorApp.Components.Model
@using BlazorApp.Components.Service

<br><br><br><br><br>
@if (ao != null)
{

  <div class="p-2 mt-15 shadow-md max-w-[810px] mx-auto rounded-lg">

    <div class="text-xl font-bold text-white">@ao.Titre</div>
    <ul class="flex space-x-4">
      <li>
        <a href="#" data-toggle="modal" data-target="#sendMail"
          class="flex items-center space-x-1 text-white hover:text-blue-100">
          <a href="/ReqR" title="< Back to results" class="backToResults mets-command-link">&lt; Back to
            results</a>

        </a>
      </li>
      <li>
        <a href="#" onclick="event.preventDefault(); printDiv();"
          class="flex items-center space-x-1 text-white hover:text-blue-100">


        </a>
      </li>
    </ul>


    <div class="mt-4 md:mt-0">


      <div class="border-2 border-Ocean-500 p-4">

        <legend class="text-blue-500 font-bold pt-1  pb-2 w-full max-w-[810px] mx-auto"
          style="border-top-color: transparent;">Demander un avis</legend>
        <p class="mt-4">Département(s) de publication : <b>@ao.Id</b></p>
        <hr class="my-4 border-t-2 border-blue-500">
        <p class="mt-4">Objet du marché : <b>Prestations de services d'assurances</b></p>

        <p>Courriel : <a href="@ao.EmailA" class="text-blue-500" target="_blank">@ao.EmailA</a></p>
        <p>Description:<a><b> @ao.Description</b></a></p>

        <p class="text-gray-800">Date de Demande:<strong> @ao.DateDemande.ToString("yyyy-MM-dd")</strong></p>
        <p class="text-gray-800">Délais de Réalisation:<strong> @ao.DelaisR.ToString("yyyy-MM-dd")</strong></p>
        <p class="text-gray-800">Adresse:<strong> @ao.Adress</strong></p>
        <p class="mt-4"><i><b>Documents</b> </i></p>








      </div>
    </div>
  </div>

}





@code {



  [Parameter]
  public int Id { get; set; }



  public AO ao;
  public readonly struct ParameterView;


  private Fournisseur fsr { get; set; } = new();

  private bool Post = false;




  protected override async Task OnInitializedAsync()
  {
    // Load data asynchronously
    ao = await aoService.GetaoffreById(Id);
  }








}
